@import "../../../scss/variable";

.homeHeader {
  .userDetail {
    .imgBox {
      background: url("/images/imgbg.svg") center / cover no-repeat;
      height: 68px;
      width: 68px;
      margin-right: 8px;
      img {
        width: 23px;
      }
    }
    h1 span {
      font-size: 20px;
      font-family: $axiforma-regular;
      text-transform: capitalize;
    }
    p {
      opacity: 0.4;
      color: $primaryColor;
      font-size: 18px;
    }
  }
  .toggleBar {
    background-color: $white;
    border: 2px solid $primaryColor;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    li .link {
      display: block;
      padding: 15px 40px;
      min-width: 170px;
      text-align: center;
      color: $primaryColor;
      cursor: pointer;
      transition: 0.4s;
      span {
        position: relative;
        font-family: $axiforma-semibold;
      }
      &.active {
        background: linear-gradient(149deg, $primaryColor 0%, #039999 100%);
        span {
          color: $white;
        }
      }
      &:last-child.active::before {
        transform: translateX(100%);
      }
    }
  }
}
