.wrapper {
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  .searchIcon {
    position: absolute;
    left: 15px;
    top: 18px;
    width: 16px;
    height: 16px;
  }
  input {
    width: 100%;
    box-sizing: border-box;
    padding-left: 44px;
    height: 51px;
    background: none;
    border: 0;
    padding-right: 12px;
  }
  .closeWrapper {
    position: absolute;
    right: 10px;
    top: 17px;
    cursor: pointer;
    svg {
      width: 16px;
      height: 16px;
    }
  }
}
