.categoryCopyToBtnPopup {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  column-gap: 40px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px -12px 24px 0px rgba(0, 0, 0, 0.16);
  backdrop-filter: blur(10px);
  padding: 16px 0;
  z-index: 1;
}
