@import "../../scss/variable";

.locationSection {
  padding-top: 30px;
  .search {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    gap: 24px;
    .searchBox {
      position: relative;
      input {
        width: 452px;
        border-radius: 10px;
        background: #f3f3f3;
        border: 0;
        height: 48px;
        line-height: 1;
        padding: 0 52px 0 16px;
        font-size: 14px;
        font-family: $axiforma-regular;
        color: $black;
        &::placeholder {
          color: #6c6c70;
        }
      }
    }
    p {
      color: #6c6c70;
      font-size: 16px;
      font-family: $axiforma-semibold;
    }
    span {
      position: absolute;
      width: 20px;
      height: 20px;
      top: 50%;
      right: 16px;
      transform: translateY(-50%);
      z-index: 1;
      background: #bcbcc0;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &.activeSearch {
        background-color: $black;
      }
      img {
        width: 6px;
      }
    }
  }
  .gridContainer {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    .borderBox {
      width: calc(25% - 23px);
      border-radius: 12px;
      background: rgba(0, 89, 130, 0);
      padding: 10.5px 24px;
      display: flex;
      align-items: center;
      background-color: #f3f3f3;
      border: 1px solid transparent;
      cursor: pointer;
      &.active {
        background: rgba(0, 89, 130, 0.05);
        border-color: $primaryColor;
      }
      .text {
        color: #000;
        font-size: 16px;
        line-height: 1.6;
        font-family: $axiforma-medium;
      }
      .editWrapper {
        width: 100%;
        input {
          border: 0;
          font-size: 16px;
          line-height: 1.6;
          font-family: $axiforma-bold;
          color: $black;
          padding: 0;
          width: 100%;
        }
        .actionButton {
          gap: 8px;
          margin-right: -12px;
          button {
            border-radius: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 0;
            width: 32px;
            height: 24px;
            padding: 0;
            &.disable {
              pointer-events: none;
              opacity: 0.3;
            }
            img {
              height: 10px;
            }
          }
          .addBtn {
            background: #27ae60;
          }
          .cancelBtn {
            background: #eb5757;
          }
        }
      }
      &.addBorderBox {
        background: rgba(0, 89, 130, 0.1);
        .text,
        input {
          font-family: $axiforma-bold;
          color: $primaryColor;
        }
      }
    }
  }
}
