@import "../../../scss/variable";

.modalAccess {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  padding: 30px;
  z-index: 99;
  .access {
    width: 100%;
    max-height: 90vh;
    max-width: 500px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: $white;
    border-radius: 10px;
    text-align: center;
    .Accessheader {
      background-color: $primaryColor;
      padding: 20px 25px;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      border-radius: 10px 10px 0 0;
      position: relative;
      &.space {
        gap: 0;
        padding-left: 61px;
      }
      .arrowback {
        position: absolute;
        left: 25px;
        width: 24px;
        top: 50%;
        height: 24px;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
        justify-self: center;
        cursor: pointer;
      }
      .titleRow {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        gap: 24px;
        h3 {
          color: $white;
          font-size: 18px;
          font-family: $axiforma-semibold;
        }
        .closeicon {
          cursor: pointer;
          img {
            width: 32px;
            height: 32px;
            display: block;
          }
        }
        .searWrapper {
          position: relative;
          width: 100%;
          .searchBox {
            height: 44px;
            padding: 0px 16px;
            border-radius: 10px;
            background: #fff;
            width: 100%;
            border: 0;
            font-size: 14px;
            color: $black;
            font-family: $axiforma-regular;
            box-sizing: border-box;
            &::placeholder {
              color: #bcbcc0;
            }
          }
          span {
            position: absolute;
            width: 20px;
            height: 20px;
            top: 50%;
            right: 16px;
            transform: translateY(-50%);
            z-index: 1;
            background: #bcbcc0;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            &.activeSearch {
              background-color: $black;
            }
            img {
              width: 6px;
            }
          }
        }
        .selectAll {
          color: #fff;
          font-size: 15px;
          white-space: nowrap;
          font-family: $axiforma-medium;
          min-width: 86px;
          text-align: right;
        }
      }
      .keyState {
        color: #fff;
        font-size: 13px;
        font-family: $axiforma-regular;
      }

      // h4 {
      //   color: $white;
      //   font-family: $axiforma-regular;
      //   margin: 0;
      //   text-align: left;
      //   font-size: 13px;
      // }
      // img {
      //   margin-right: 0;
      // }

      // .pointClear {
      //   margin-left: 320px;
      //   position: absolute;
      //   margin-top: -30px;
      // }
      // .pointClearSpAssignment {
      //   margin-left: 410px;
      //   position: absolute;
      //   margin-top: -30px;
      // }
      // .arrowAndSpContainer {
      //   display: flex;
      // }
      // .arrowContainer {
      //   position: relative;
      //   top: 15px;
      //   margin-right: 15px;
      // }
    }
    .loader {
      min-height: 50vh;
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        width: 50px;
        border-radius: 50%;
        height: 50px;
        background: url("../../../public/images/loader.webp") center / 120px
          no-repeat;
        display: inline-block;
      }
    }
    .noResult {
      padding: 80px 0;
    }
    .accessContent {
      padding: 20px 24px;
      max-height: 50vh;
      overflow: auto;
      text-align: left;
      // .selectAll {
      //   text-align: right;
      //   padding: 20px;
      //   span {
      //     color: $gray;
      //     font-size: 14px;
      //   }
      // }
      .accessTableHeading {
        font-size: 13px;
        color: #6c6c70;
        font-family: $axiforma-regular !important;
        display: flex;
        align-items: center;
        justify-content: space-between;
        line-height: 1.6;
        padding-bottom: 12px;
      }
      .accessList {
        li {
          padding-top: 12px;
          color: $black;
          font-size: 16px;
          justify-content: space-between;
          display: flex;
          align-items: center;
          &:first-child {
            padding-top: 0;
          }
          &:not(:last-child) {
            border-bottom: 1px solid #e1e1e1;
            padding-bottom: 12px;
          }
          .titlewrap {
            line-height: 1.6;
            max-width: 380px;
            strong {
              text-wrap: wrap;
              font-family: $axiforma-semibold !important;
              font-size: 16px;
            }
            .spDetails {
              font-size: 12px;
              color: $gray;
              text-wrap: wrap;
              font-family: $axiforma-regular;
              color: #646464;
            }
          }
          .assingedButton {
            border-radius: 8px;
            background: rgba(0, 89, 130, 0.1);
            padding: 6px 10px;
            color: #005982;
            font-size: 10px;
            line-height: 1.6;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 6px;
            min-width: 90px;
            strong {
              font-family: $axiforma-medium !important;
            }
            img {
              width: 5px;
              height: 8px;
              margin-top: -1px;
            }
            &:hover {
              background-color: #005982;
              color: #fff;
              img {
                filter: brightness(0) invert(1);
              }
            }
          }
          .checkbox {
            width: 24px;
            height: 24px;
            border-radius: 5px;
            border: 1px solid $primaryColor;
            display: block;
            cursor: pointer;
            &.active {
              border-color: transparent;
              background: url("../../../public/images/color-tick.svg") 0 0 /
                cover no-repeat;
            }
          }

          // input {
          //     transform: scale(2.2);
          //     margin: 0 20px 0 10px;
          //     cursor: pointer;
          // }
        }
      }
    }

    .btnWrapper {
      padding: 16px 24px;
      background: #e5eef2;
      border-radius: 0 0 10px 10px;
      p {
        font-size: 12px;
        color: $primaryColor;
        font-family: $axiforma-regular;
      }
      button {
        border-radius: 10px;
        padding: 12.5px 69px;
        font-size: 14px;
        box-shadow: 0px 4px 20px 0px rgba(0, 89, 130, 0.27);
      }
    }
  }
}
