@import "../../../../scss/variable";
.metaWrapper {
  display: flex;
  column-gap: 19px;
  &:nth-child(2) {
    margin-top: 10px;
  }
  .meta {
    display: flex;
    font-size: 10px;
    line-height: 16.31px;
    font-weight: 500;
    font-family: $axiforma-medium;
    color: #7a7777;
    position: relative;
    margin-bottom: 10px;
    &.bold {
      .label,
      .value {
        font-weight: 600;
        color: #383838;
        font-family: $axiforma-semibold;
      }
    }
    .extraValue {
      margin-left: 20px;
      position: relative;
      &:before {
        content: "";
        display: block;
        position: absolute;
        left: -14px;
        top: 5px;
        width: 6px;
        height: 6px;
        border-radius: 12px;
        background: rgba(75, 173, 173, 0.2);
      }
    }
    &:before {
      content: "";
      display: block;
      position: absolute;
      right: -10px;
      top: 6px;
      background: rgba(0, 0, 0, 0.4);
      width: 3px;
      height: 3px;
      border-radius: 3px;
    }
    &:last-child::before {
      visibility: hidden;
    }
  }
}
