.remark-template {
  background-color: #f8f8f8;
  &.utilization-popup {
    padding-right: 375px;
  }
  .sidebar {
    padding-top: 24px !important;
  }
}
.left-item {
  .similar-tag {
    display: block !important;
  }
}
