@import "../../scss/variable.scss";
.remarkImageWrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  background: #252628;
  z-index: 1;
  overflow-y: auto;
  overflow-x: hidden;
  .header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #505050;

    padding: 24px;
    align-items: center;
    .fileName {
      color: rgba(255, 255, 255, 0.7);
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    .right {
      display: flex;
      align-items: center;
      gap: 46px;
    }
    .download {
      color: #fff;
      font-size: 15px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      font-family: $axiforma-bold;
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;
    }
    .close {
      cursor: pointer;
    }
  }
  .mainImageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    min-height: calc(100vh - 88px);
  }
  .mainImage {
    width: 658px;
    height: 658px;
    flex-shrink: 0;
    object-fit: cover;
  }
}
