@import "../../scss/variable";
.checkWrapper {
  height: 21px;
  width: 20px;
  position: relative;
  z-index: 1;
  input {
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    border: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 1;
    opacity: 0;
    + .check {
      border: 2px solid #e3e3e3;
      border-radius: 5px;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      background-color: #fff;
      .checkIcon {
        position: relative;
        top: 1px;
        left: 1px;
      }
    }
    &:checked + .check {
      border-color: $primaryColor;
      background: $primaryColor;
    }
  }
}
