@import "../../scss/variable";

.sideRight {
  position: fixed;
  right: 0;
  bottom: 0;
  height: calc(100% - 130px);
  width: 450px;
  border-radius: 45px 0px 0px 0px;
  border: 1px solid #e4e0e0;
  background: $white;
  z-index: 99;
  padding: 5px 0 40px 0;
  overflow: auto;
  .closeBtn {
    position: sticky;
    top: 25px;
    left: 400px;
    z-index: 9;
  }
  & > h3 {
    padding: 0 25px 10px;
    margin: 10px 0 0 !important;
  }
  & > h3,
  .aboutValues > h3 {
    font-size: 20px !important;
    font-family: $axiforma-regular !important;
    border-bottom: 1px solid rgba(0, 89, 130, 0.4);
  }
  .aboutValues {
    padding: 25px;
    & > h3 {
      margin: 0 !important;
    }
    & > li {
      h6 {
        color: $gray;
        margin-bottom: 20px;
        font-size: 15px !important;
      }
      h4 {
        color: $primaryColor;
        font-size: 16px;
        font-family: $axiforma-regular;
        margin: 0 0 10px !important;
      }
      .addBtn {
        position: static;
        font-family: $axiforma-regular;
        img {
          vertical-align: middle;
        }
      }
      .noteBox {
        .editBox,
        .editorWrapper {
          background-color: $bluelight;
          padding: 16px;
          margin-bottom: 20px;
          width: 100%;
        }
        & > div {
          align-items: flex-start;
          & > p {
            font-family: $axiforma-regular;
            color: $gray;
            font-size: 14px;
            margin-bottom: 15px;
            width: 100%;
            ol,
            ul {
              list-style-position: inside !important;
            }
            ol {
              list-style-type: decimal !important;
            }
            ul {
              list-style-type: disc !important;
            }
          }
        }
        .actionBar {
          & > button {
            width: 25px;
            height: 25px;
            text-align: center;
            margin-left: 12px;
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
            &:last-child {
              padding: 0 2px;
            }
          }
        }
      }

      // .noteHeader {
      //   margin-bottom: 10px;
      // }
      // .actionForNotes,
      // .actionForAboutValue {
      //   position: relative;
      //   & > button {
      //     width: 25px;
      //     height: 25px;
      //     margin-left: 20px;
      //     img {
      //       vertical-align: middle;
      //     }
      //   }
      //   .deleteWarning {
      //     position: absolute;
      //     background-color: $white;
      //     top: 27px;
      //     right: 0;
      //     width: 130px;
      //     padding: 5px 10px;
      //     border-radius: 8px;
      //     box-shadow: 0px -1px 17px 0px rgb(0 0 0 / 20%);
      //     z-index: 2;
      //     p {
      //       font-size: 11px;
      //       color: $gray;
      //       text-align: center;
      //     }
      //     button {
      //       padding: 5px 12px;
      //       font-size: 12px;
      //       margin: 5px 5px 0;
      //       line-height: 1.2;
      //       &:last-child {
      //         padding: 6px 12px;
      //       }
      //     }
      //   }
      // }
      //
      //
      // .addArea,
      // .editBox {
      //   position: relative;
      //   width: 100%;
      //   .saveBtn {
      //     position: absolute;
      //     right: 15px;
      //     bottom: 98px;
      //     z-index: 5;
      //     padding: 8px 15px;
      //     border-radius: 8px;
      //   }
      // }
      // .editBox .saveBtn {
      //   bottom: 78px;
      // }
    }
  }
  // & > div:not(.active) .editorWrapper {
  //   display: none;
  // }
  // .addBtn {
  //   font-family: $axiforma-regular;
  //   font-size: 15px;
  //   color: $gray;
  //   display: inline-block;
  //   display: flex;
  //   margin-left: auto;
  //   img {
  //     margin-right: 8px;
  //     vertical-align: middle;
  //   }
  //   &:hover {
  //     color: $primaryColor;
  //   }
  // }
  // .addAboutInput {
  //   padding: 25px 30px;
  //   .addBtn1 {
  //     margin-left: 0;
  //   }
  //   .addButtonInput {
  //     margin: 0 0 20px;
  //     input {
  //       padding: 8px 0;
  //       color: $primaryColor;
  //     }
  //   }
  // }
}
// .editButtonInput {
//   margin-right: 0px !important;
//   input {
//     color: $primaryColor !important;
//   }
// }
