@import "../../scss/variable";
.viewHeaderWrapper {
  background: #fff;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.06);
  margin: 0 -30px 24px -62px;
  padding: 0 30px 18px 62px;
}
.viewHeader {
  margin-bottom: 40px;
  .templateName {
    color: var(--Blacks, #000);
    /* H2 */

    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    font-family: $axiforma-semibold;
    line-height: normal;
    letter-spacing: 0.27px;
  }
  .headerLeft {
    display: flex;
    align-items: center;
    .clear {
      color: $primaryColor;
      text-decoration: underline;
      cursor: pointer;
      font-size: 14px;
    }
  }
  .headerRight {
    &:nth-child(2) {
      margin-left: auto;
      top: 11px;
      position: relative;
    }
    p {
      font-size: 14px;
      color: $gray;
      margin-right: 20px;
      &.publishedDetail {
        display: none;
      }
    }
    .active,
    .publish {
      display: inline-block;
      padding: 20px 34px;
      text-align: center;
      color: $white;
      font-size: 16px;
      font-family: $axiforma-medium;
      border-radius: 10px;
    }
    .active {
      background-color: #a8a8a8;
      cursor: not-allowed;
      min-width: 192px;
    }
    .publish {
      background: var(
        --button-style,
        linear-gradient(149deg, #005982 15.1%, #039999 100%)
      );
      cursor: pointer;
    }
  }
}
.publishDetailWrapper {
  display: flex;
  margin-top: -50px;
  .publishDetail {
    display: flex;
    position: relative;
    padding-right: 14px;
    margin-right: 12px;
    &:before {
      content: "";
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      background: #d9d9d9;
      width: 1.5px;
      height: 16px;
    }
    &:last-child {
      &:before {
        visibility: hidden;
      }
    }
    .label {
      color: var(--Subtext, #acacac);

      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-right: 7px;
    }
    .value {
      color: var(--Blacks, #000);
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      position: relative;
      .serviceLink {
        background: var(
          --button-style,
          linear-gradient(155deg, #005982 37.62%, #039999 126.76%)
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .serviceList {
        position: absolute;
        left: 50%;
        margin-left: -160px;
        z-index: 1;
        top: 40px;
        display: flex;
        width: 306px;
        padding: 12px 16px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 12px;
        background: #f2f7f9;
        box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.24);
        color: #000;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s all;
        &:before {
          content: "";
          display: block;
          position: absolute;
          border-bottom: 10px solid #f2f7f9;
          left: 50%;
          top: -8px;
          margin-left: -4px;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
        }
      }
      &:hover {
        .serviceList {
          opacity: 1;
          visibility: visible;
          top: 30px;
        }
      }
    }
  }
}
.viewContent {
  .tabbing {
    // border-bottom: 1px solid $gray2;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    li {
      display: inline-block;
      padding: 0 0 7px;
      position: relative;
      margin-right: 52px;
      cursor: pointer;
      &::after {
        content: "";
        width: 100%;
        height: 5px;
        position: absolute;
        left: 0;
        bottom: -1px;
        background-color: $primaryColor;
        opacity: 0;
        border-radius: 12px 12px 0px 0px;
      }
      &.active {
        h3 {
          color: $primaryColor;
        }
        &::after {
          opacity: 1;
        }
      }
      &.hideBox {
        display: none;
      }
      h3 {
        color: rgba(51, 51, 51, 0.6);
        font-size: 18px;
      }
      &.dropDown {
        margin: 0 0 0 auto;
        padding: 10px 15px;
        display: flex;
        position: relative;
        border-radius: 5px;
        transition: 0.5s;
        &:hover {
          background: #e5eef2;
        }
        ul {
          position: absolute;
          top: 100%;
          right: 0;
          border-radius: 4px;
          border: 1px solid #d3d3d3;
          background: $white;
          padding: 4px 13px;
          z-index: 2;
          min-width: 305px;
          margin-top: -5px;
          li {
            padding: 9px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 14px;
            color: #344054;
            padding-right: 0;
            min-height: 47px;
            margin-right: 0;
            & + li {
              border-top: 1px solid #e9dede;
            }
            & > div {
              margin-left: 15px;
            }
          }
        }
      }
    }
  }
  .contentArea {
    .categorySection {
      margin: 0 -12px;
      .titleWrapper {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        justify-content: space-between;
      }
      .selectLink {
        color: $linkColor;
        cursor: pointer;
      }
      h3 {
        // color: $primaryColor;
        color: var(--Blacks, #000);
        margin-bottom: 0px;
        font-size: 18px;
        font-family: $axiforma-semibold;
      }
      & > div {
        width: 33.33%;
        position: relative;
        padding: 0 12px;
        &.subCategoryColumn {
          width: 26%;
        }
        &.aboutsColumn {
          width: 26%;
        }
        &:last-child {
          width: 48%;
          & > div:first-child {
            position: absolute !important;
            right: 12px;
            top: 0;
            left: 12px;
            z-index: 1;
          }
        }
      }
    }
  }
  .printOffMessage {
    border-radius: 12px;
    background: rgba(0, 89, 130, 0.1);
    color: #005982;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    font-family: $axiforma-bold;
    line-height: normal;
    display: inline-flex;
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }
}
.selectCategory {
  color: $linkColor;
  cursor: pointer;
  position: relative;
  top: 6px;
}
