@import "../../../scss/variable";
.wrapper {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 375px;
  background-color: #fff;
  z-index: 1;
  overflow-y: auto;
  .titleWrapper {
    background: $primaryColor;
    display: flex;
    padding: 20px 16px 14px 16px;
    .title {
      font-size: 16px;
      line-height: 16px;
      color: #fff;
      font-weight: 700;
      font-family: $axiforma-bold;
    }
    .close {
      margin-left: auto;
      cursor: pointer;
    }
  }
  .contentWrapper {
    padding: 16px 20px;
    h2 {
      font-size: 18px;
      line-height: 28px;
      font-weight: 800;
      font-family: $axiforma-extrabold;
      color: #101828;
      margin-bottom: 6px;
    }
    .description {
      font-size: 11px;
      line-height: 15.4px;
      font-weight: 300;
      color: #101828;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin-bottom: 8px;
    }
    .lastUpdated {
      font-size: 10px;
      font-weight: 600;
      font-family: $axiforma-semibold;
      line-height: 16.31px;
      color: $primaryColor;
      margin-bottom: 13px;
    }
    .tableWrapper {
      margin: 0 -8px;
      th {
        border-right: 1px solid #fff;
        background: #f2fbff;
        border-bottom: 1px solid #eaecf0;
        font-size: 12px;
        line-height: 18px;
        font-weight: 600;
        font-family: $axiforma-semibold;
        color: #004461;
        padding: 10px 12px;
        white-space: nowrap;
        &:first-child {
          text-align: left;
        }
        &:last-child {
          border-right: 0;
        }
      }
      td {
        text-align: center;
        &:first-child {
          text-align: left;
        }
        font-size: 12px;
        line-height: 20px;
        font-weight: 500;
        font-family: $axiforma-medium;
        color: #101828;
        padding: 14px 8px;
        border-bottom: 1px solid #eaecf0;
        &.companykey {
          color: $primaryColor;
        }
        .tag {
          padding: 2px 8px;
          background: #ecfdf3;
          border-radius: 16px;
          font-size: 12px;
          line-height: 18px;
          color: #027a48;
          font-weight: 500;
          font-family: $axiforma-medium;
          display: inline-block;
        }
      }
      tr:last-child td {
        border-bottom: 0;
      }
    }
  }
}
