@import "../../scss/variable";

.disclosureSection {
  margin-top: 30px;
  border-radius: 10px;
  background: #edf3f6;
  padding: 12px 10px;
  position: relative;
  color: #2b2b2b;
  font-family: "Axiforma Regular", sans-serif;
  font-size: 15px;
  ul,
  ol {
    margin: 0 0 0 12px !important;
    padding: 0 !important;
  }

  ol {
    list-style-type: decimal;
  }
  ul {
    list-style-type: disc;
  }
  .saveButton {
    position: absolute;
    bottom: 26px;
    right: 24px;
    padding: 10.25px 22px;
    z-index: 6;
  }

  // .disclosureBoxWrapper {
  //   margin: 0 -12px;
  //   & > li {
  //     padding: 0 12px;
  //     min-width: 33.33%;
  //     h3 {
  //       margin-bottom: 12px;
  //       span,
  //       input {
  //         color: $primaryColor;
  //         font-size: 18px;
  //         font-family: $axiforma-medium;
  //         &.disBox {
  //           opacity: 0.4;
  //           pointer-events: none;
  //         }
  //         input {
  //           padding: 0;
  //           margin-top: -1px;
  //         }
  //         button {
  //           margin-left: 10px;
  //           img {
  //             width: 16px;
  //           }
  //         }
  //       }
  //       & > div {
  //         padding-left: 20px;
  //       }
  //     }
  //     .descriptionBox {
  //       padding: 24px 16px;
  //       background: $bluelight;
  //       border-radius: 8px;
  //       min-height: 460px;
  //       &:hover .editDescButton {
  //         opacity: 1 !important;
  //       }
  //       .displayData {
  //         position: relative;
  //         p {
  //           font-size: 14px;
  //           color: $gray;
  //           ol,
  //           ul {
  //             list-style-position: inside !important;
  //           }
  //           ol {
  //             list-style-type: decimal !important;
  //           }
  //           ul {
  //             list-style-type: disc !important;
  //           }
  //         }
  //         .editDescButton {
  //           position: absolute;
  //           background-color: $primaryColor;
  //           border-radius: 0 8px 0 0;
  //           width: 40px;
  //           height: 40px;
  //           top: -24px;
  //           right: -16px;
  //           opacity: 0;
  //           transition: 0.5s;
  //           img {
  //             width: 22px;
  //           }
  //         }
  //       }
  //       &.disBox {
  //         opacity: 0.4;
  //         pointer-events: none;
  //       }
  //       .addDescription {
  //         color: #5e6166;
  //         font-size: 12px;
  //         border-radius: 5px;
  //         background-color: $white;
  //         padding: 7px 9px;
  //         font-family: $axiforma-regular;
  //       }
  //       .sun-editor {
  //         border-radius: 10px;
  //         border: 1px solid #ccbebe;
  //         background: #fff;
  //       }
  //     }
  //   }
  // }
}
