.wrapper {
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
  z-index: 101;
  display: flex;
  align-items: center;
  justify-content: center;
  .popup {
    width: 100%;
    max-width: 710px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: #fff;
    border-radius: 10px;
    padding: 25px 20px 24px;
    text-align: center;
  }
  .bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
  }
  .dateWrapper {
    display: flex;
    column-gap: 12px;
    align-items: center;
    .date {
      padding: 10px 42px;
      border: 1px solid #d0d5dd;
      font-size: 14px;
      line-height: 24.67px;
      color: #344054;
      border-radius: 10px;
      cursor: pointer;
    }
    .separator {
      font-size: 16px;
      line-height: 24px;
      color: #667085;
    }
  }
  .buttonWrapper {
    display: flex;
    column-gap: 12px;
  }
}
