name: CD

on:
  push:
    branches: [main]

permissions:
  actions: write
  checks: write
  contents: write
  deployments: write
  issues: write
  packages: write
  pull-requests: write
  repository-projects: write
  security-events: write
  statuses: write

jobs:
  release-tag:
    name: Release build and tag
    runs-on: ubuntu-latest
    environment: production
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: "0"

      - name: Bump version and Create Tag and Push Tag
        uses: anothrNick/github-tag-action@1.64.0
        id: vars
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          WITH_V: true
          INITIAL_VERSION: 1.0.1

      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "${{ steps.vars.outputs.new_tag }}"
          prerelease: true
          title: "Release ${{ steps.vars.outputs.new_tag }} of smetoolkit.winspectdev.com"

  slackNotification:
    name: Slack Notification
    needs:
      - release-tag
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Slack Workflow Notification
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_CHANNEL: deployment-alerts
          SLACK_TITLE: MESSAGE
          SLACK_USERNAME: WIN-Services-Bot
          SLACK_COLOR: ${{ job.status }}
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_FOOTER: smetookit.winspectapp.com [production]
    #          SLACK_MESSAGE: ${{ github.event.head_commit.message }}
