@import "../../scss/variable";

.changePassword {
  padding: 55px 35px 0;
  h2 {
    font-size: 22px;
  }
  .passwordBox {
    margin-top: 60px;
    min-width: 500px;
    position: relative;
    height: 100%;
    .custompop {
      position: absolute;
      top: unset;
      bottom: 70px;
      left: 0;
      text-align: left;
    }
    & > p {
      text-align: right;
      margin: 10px 0 20px;
      & + p {
        margin-top: -12px;
      }
    }
  }
  .inputbox {
    position: relative;
    & + .inputbox {
      margin-top: 28px;
    }
  }
  .buttonWrapper {
    margin-top: 55px;
    text-align: center;
  }
}
