.uploadImageBtn {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 8px;
  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  &:hover {
    background: #f9fafb;
  }
}
