@import "../../../scss/variable";
.wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
  padding: 30px 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  .popup {
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
    max-width: 801px;
    margin: 0 auto;
    .titleWrapper {
      display: flex;
      background-color: $primaryColor;
      padding: 15px 25px 17px;
      align-items: center;
      .title {
        color: #fff;
      }
      .close {
        margin-left: auto;
        width: 32px;
        height: 32px;
        border-radius: 32px;
        background-color: #337a9b;
        cursor: pointer;
        svg {
          position: relative;
          left: 12px;
          top: 8px;
        }
      }
    }
    .content {
      padding: 26px 24px;
    }
  }
}

.fieldWrapper {
  margin-bottom: 33px;
  &:last-child {
    margin-bottom: 0;
  }
  .label {
    font-size: 16px;
    line-height: 25.34px;
    color: #000;
    margin-bottom: 11px;
  }
  input,
  .editor {
    width: 100%;
    padding: 17px 24px 18px;
    box-sizing: border-box;
    font-size: 12px;
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.06);
    border: 1px solid rgba(108, 108, 108, 1);
    border-radius: 10px;
  }
  .editor {
    padding: 0;
  }
}

.saveButtonWrapper {
  margin-top: -11px;
  button {
    width: 100%;
    max-width: 549px;
    display: block;
    margin: 0 auto;
    background-color: $primaryColor;
    padding: 15px 48px;
    border-radius: 16px;
    font-size: 15px;
    font-family: $axiforma-bold;
    color: #fff;
    &.wait {
      cursor: default;
    }
  }
}
.error {
  color: #ff7979;
  font-size: 12px;
  margin-top: 5px;
  text-align: center;
}
