@import "../../scss/variable";

.cropPopupWrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 30px;
  .cropPopup {
    border-radius: 12px;
    background: #fff;
    padding: 30px 32px;
    max-width: 604px;
  }
  .buttonWrapper {
    border-top: 1px solid #e3e5e5;
    padding-top: 30px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    button {
      border-radius: 10px;
      border: 1.5px solid rgba(102, 112, 133, 0.3);
      color: #000;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      padding: 13px 48px;
      &.primaryBtn {
        background-color: $primaryColor;
        color: #fff;
      }
    }
  }
  .cropArea {
    position: relative;
  }
  .fitToScreenBtn {
    position: absolute;
    left: 10px;
    bottom: 10px;
    z-index: 1;
    cursor: pointer;
  }
}
