@import "../../../scss/variable";

.selectWrapper {
  border: 1px solid rgba(0, 89, 130, 0.29);
  background-color: #fff;
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding-left: 8px;
  position: relative;
  .dropdownLabel {
    color: #666666;
    font-size: 11px;
    font-weight: $axiforma-semibold;
  }
}
.filterSection {
  display: flex;
  column-gap: 16px;
  align-items: center;
  margin-bottom: 15px;
}
.clear {
  color: $linkColor;
  font-size: 12px;
  font-weight: 600;
  font-family: $axiforma-semibold;
  text-decoration: underline;
  cursor: pointer;
}
.rightAlign {
  margin-left: auto;
  display: flex;
  align-items: center;
  column-gap: 28px;
  .pleaseWait {
    font-size: 12px;
  }
}
.compareCheckbox {
  font-size: 12px;
  line-height: 18px;
  color: $linkColor;
  font-weight: 500;
  font-family: $axiforma-medium;
  position: relative;
  margin-bottom: 0;
  padding-left: 8px;
  cursor: pointer;
  input {
    opacity: 0;
    + .check {
      width: 20px;
      height: 20px;
      background-color: #fff;
      border: 2px solid #e3e3e3;
      border-radius: 5px;
      position: absolute;
      left: 0;
      top: 1px;
      display: block;
    }
    &:checked + .check {
      border-color: $linkColor;
      background: $linkColor;
    }
  }
  .text {
    text-decoration: underline;
  }
  .checkIcon {
    position: relative;
    top: 1px;
    left: 1px;
  }
}
