@import "../../../scss/variable";
.wrapper {
  background: #f2fbff;
  border-radius: 12px;
  padding: 9px 14px;
  &.twoColumns .row {
    display: flex;
    column-gap: 20px;
    margin-bottom: 11px;
    &:last-child {
      margin-bottom: 0;
    }
    .item {
      width: 50%;
    }
  }
}
.columnWrapper {
  .titleWrapper {
    display: flex;
    align-items: center;
    column-gap: 16px;
    margin-left: 15px;
    margin-bottom: 8px;
    .selectAll {
      margin-left: auto;
      font-size: 14px;
      color: $linkColor;
      cursor: pointer;
    }
  }
  .title {
    font-size: 13px;
    line-height: 21.2px;
    color: #265970;
    font-weight: 600;
    font-family: $axiforma-semibold;
  }
  .addNewRemarkButton {
    font-size: 12px;
    font-weight: 600;
    font-family: $axiforma-semibold;
    color: #2f80ed;
    cursor: pointer;
  }
}

.noData {
  background: #fff;
  border-radius: 12px;
  padding: 14px;
}
