@import "../../scss/variable";

.tableHome {
  text-align: left;
  border-collapse: separate;
  thead {
    .spAssignment {
      color: $primaryColor;
      padding: 5.5px 15px;
      font-family: $axiforma-semibold;
      border: 1px solid $primaryColor;
      margin-left: 16px;
      border-radius: 10px;
      font-size: 12px;
      box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.12);
      transition: 0.4s;
      vertical-align: middle;
      &:hover {
        background: $primaryColor;
        color: $white;
      }
    }
    th {
      padding: 0 15px 15px;
      letter-spacing: 0.3px;
      font-family: $axiforma-semibold;
      font-size: 18px;
      color: $primaryColor;
      white-space: nowrap;
    }
  }
  tbody {
    tr {
      cursor: pointer;
      &:first-child {
        td:first-child {
          border-radius: 10px 0 0 0;
        }
        td:last-child {
          border-radius: 0 10px 0 0;
        }
      }
      &:last-child {
        td:first-child {
          border-radius: 0 0 0 10px;
        }
        td:last-child {
          border-radius: 0 0 10px 0;
        }
      }
      &:last-child:first-child {
        td:first-child {
          border-radius: 10px 0 0 10px;
        }
        td:last-child {
          border-radius: 0 10px 10px 0;
        }
      }
      &:not(:last-child) {
        td {
          border-bottom-width: 7.5px;
        }
      }
      &:not(:first-child) {
        td {
          border-top-width: 7.5px;
        }
      }
      &:last-child:first-child td {
        border-top-width: 15px !important;
      }
      td {
        font-size: 14px;
        line-height: 1.7;
        vertical-align: middle;
        transition: 0.5s;
        background-color: $bluelight;
        border: 15px solid $bluelight;
        position: relative;
        & > div {
          background-color: $white;
          padding: 15px;
          min-height: 80px;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          transition: 0.3s all ease;
          &.displayColum {
            flex-direction: column;
            align-items: flex-start;
            text-align: center;
          }
          &.columnDirection {
            flex-direction: column;
          }
        }
        .serviceList {
          color: rgba(0, 0, 0, 0.6);
          font-size: 11px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          transition: 0.3s all ease;
          span {
            position: relative;
          }
          .serviceListPopup {
            position: absolute;
            left: -50%;
            margin-left: -63px;
            z-index: 1;
            top: 40px;
            display: flex;
            width: 306px;
            padding: 12px 16px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 12px;
            background: #f2f7f9;
            box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.24);
            color: #000;
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            opacity: 0;
            visibility: hidden;
            transition: 0.3s all;
            &:before {
              content: "";
              display: block;
              position: absolute;
              border-bottom: 10px solid #f2f7f9;
              left: 50%;
              top: -8px;
              margin-left: -4px;
              border-left: 8px solid transparent;
              border-right: 8px solid transparent;
            }
          }
          &:hover {
            .serviceListPopup {
              opacity: 1;
              visibility: visible;
              top: 30px;
            }
          }
        }
        &:first-child {
          font-size: 16px;
          border-right: 0;
          & > div {
            padding-left: 15px;
            border-radius: 10px 0 0 10px;
          }
        }
        &:not(:first-child) {
          border-style: solid none solid none;
        }
        &:last-child {
          border-style: solid solid solid none;
          text-align: right;
          & > div {
            border-radius: 0 10px 10px 0;
          }
        }
        &:last-child:first-child {
          border: 15px solid #edf3f6;
          border-top-width: 7.5px;
          & > div {
            border-radius: 10px;
          }
        }
        small {
          color: rgba($gray1, 0.5);
        }
        .imageWrapper {
          background-color: #fff;
          padding: 10px;
          border-radius: 28px;
          margin-right: 15px;
          width: 48px;
          img {
            vertical-align: middle;
            width: 28px;
            height: 28px;
            object-fit: contain;
          }
        }
        & > div > button {
          font-family: $axiforma-medium;
          text-decoration-line: underline;
          letter-spacing: 0.07px;
          font-size: 14px;
          color: $primaryColor;
          padding: 0;
          background-color: transparent;
        }
      }
      &:hover {
        td > div {
          background-color: $primaryColor;
          color: $white;
          .serviceList {
            color: $white;
          }
        }
        small,
        span {
          color: $white;
        }
        img {
          // filter: brightness(0) invert(1);
        }
        button {
          color: $white;
        }
      }
      .createnew {
        color: $primaryColor;
        font-family: $axiforma-semibold;
        cursor: pointer;
        text-transform: capitalize;
        .blank {
          width: 42px;
          min-width: unset;
          height: 42px;
          display: inline-block;
          background-color: $primaryColor;
          margin-right: 20px;
          border-radius: 5px;
        }
      }
      &:hover {
        .blank {
          background-color: $white;
        }
      }
    }
  }
}
