@import "../../scss/variable";

.deleteModal {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
  z-index: 101;
  .modalbox {
    width: 100%;
    max-width: 800px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: $white;
    border-radius: 10px;
    padding: 25px 30px 35px;
    h3 {
      font-size: 22px !important;
      font-family: $axiforma-bold !important;
      margin-bottom: 12px !important;
      color: $black !important;
    }
    p {
      white-space: break-spaces;
      color: $black;
      font-size: 16px !important;
      strong {
        display: block;
        font-family: $axiforma-regular !important;
      }
    }
    .btnWrapper {
      margin-top: 45px;
      gap: 24px;
    }
  }
}
