@import "../../../scss/variable.scss";
.wrapper {
  background-color: #fff;
  padding: 12px 15px;
  border-radius: 10px;
  margin-bottom: 11px;
  position: relative;
  &:last-child {
    margin-bottom: 0;
  }
  .rightIcons {
    position: absolute;
    right: 27px;
    top: 16px;
    display: flex;
    align-self: center;
    gap: 16px;
    .attchment {
      display: flex;
      align-items: center;
      cursor: pointer;
      border-radius: 8px;
      width: 28px;
      height: 28px;
      display: flex;
      align-items: center;
      justify-content: center;
      input {
        position: absolute;
        cursor: pointer;
        left: 0;
        top: 0;
        width: 100%;
        opacity: 0;
        height: 100%;
      }
      &:hover {
        background: #f9fafb;
      }
    }
  }
  .edit {
    cursor: pointer;
    border-radius: 8px;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    img.white {
      display: none;
    }
    &:hover {
      background: #f9fafb;
    }
    &:active {
      background-color: $primaryColor;
      img.white {
        display: block;
      }
      img.gray {
        display: none;
      }
    }
  }
  .titleWrapper {
    display: flex;
    align-items: center;
    column-gap: 12px;
    margin-bottom: 10px;
    padding-right: 50px;
  }
  .checkWrapper {
    height: 24px;
    width: 24px;
    position: relative;
    input {
      cursor: pointer;
      position: absolute;
      left: 0;
      top: 0;
      border: 0;
      margin: 0;
      width: 100%;
      height: 100%;
      display: block;
      z-index: 1;
      opacity: 0;
      + .check {
        border: 2px solid #e3e3e3;
        border-radius: 5px;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: block;
        background-color: #fff;
        .checkIcon {
          position: relative;
          top: 3px;
          left: 3px;
        }
      }
      &:checked + .check {
        border-color: $primaryColor;
        background: $primaryColor;
      }
    }
  }
  .title {
    font-size: 16px;
    font-weight: 600;
    font-family: $axiforma-semibold;
    color: #000;
    position: relative;
    padding-right: 18px;
    &::after {
      content: "";
      display: block;
      position: absolute;
      right: 0;
      top: 5px;
      width: 6px;
      height: 6px;
      border-radius: 12px;
      background: rgba(75, 173, 173, 0.2);
    }
  }
  .tag {
    background: rgba(38, 141, 92, 0.15);
    border-radius: 100px;
    padding: 5px 12px 3px 12px;
    font-size: 12px;
    font-weight: 400;
    line-height: 19.01px;
    color: #268d5c;
    cursor: pointer;
    white-space: nowrap;
    &.tagByUser {
      background: rgba(0, 89, 130, 0.16);
      color: #005982;
    }
    &.template {
      background: #f2f4f7;
      color: #344054;
      cursor: default;
    }
    &.similar {
      background: rgba(99, 47, 248, 0.15);
      color: #632ff8;
      display: none;
    }
  }
  .viewGroupLink {
    font-size: 12px;
    font-weight: 600;
    font-family: $axiforma-semibold;
    line-height: 19.57px;
    color: #2f80ed;
    text-decoration: underline;
    cursor: pointer;
    white-space: nowrap;
  }
  .description {
    font-size: 12px;
    line-height: 19.01px;
    color: #646464;
    margin-bottom: 7px;
  }
  .bottom {
    display: flex;
    align-items: end;
    column-gap: 10px;
    align-items: center;
    .remarkImages {
      display: flex;
      align-items: center;
      gap: 10px;
      flex-wrap: wrap;
      .remarkImage {
        border-radius: 5px;
        border: 1px solid var(--Gray-200, #eaecf0);
        background: rgba(234, 236, 240, 0.5);
        display: flex;
        padding: 6px 8px;
        align-items: center;
        gap: 10px;
        color: #344054;
        font-size: 10px;
        font-style: normal;
        font-family: $axiforma-semibold;
        font-weight: 500;
        line-height: 20px; /* 200% */
        text-decoration-line: underline;
        align-items: center;
        img {
          width: 24px;
          height: 24px;
          border-radius: 5px;
          object-fit: cover;
        }
        .imageName {
          cursor: pointer;
        }
        .remove {
          cursor: pointer;
          display: flex;
          align-items: center;
        }
      }
    }
  }
  .bottomRight {
    margin-left: auto;
    display: flex;
    column-gap: 24px;
  }
  .moveToTemplateBtn {
    display: flex;
    color: $linkColor;
    font-size: 14px;

    align-items: center;
    column-gap: 1px;
    border-bottom: 1px dashed $linkColor;

    cursor: pointer;
    img {
      position: relative;
      top: -2px;
      left: -2px;
    }
  }
  .delete {
    display: flex;
    color: #909090;
    font-size: 14px;

    align-items: center;
    column-gap: 1px;
    border-bottom: 1px solid #e4e7ec;
    cursor: pointer;
    svg {
      position: relative;
      top: -1px;
      left: -2px;
      width: 16px;
      height: 16px;
    }
  }
  &.hide {
    opacity: 0.6;
    .edit,
    .moveToTemplateBtn,
    .tag,
    input,
    .favourite {
      pointer-events: none;
    }
  }
  .favourite {
    width: 21px;
    height: 21px;
    border-radius: 44px;
    border: 0.5px solid rgba(0, 89, 130, 0.3);
    overflow: hidden;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    &.active {
      background: rgba(0, 89, 130, 0.07);
      border: 0.5px solid rgba(0, 89, 130, 0.9);
      .favIcon {
        top: 3px;
      }
    }
    svg,
    img {
      width: 11px;
      height: 11px;
      position: relative;
    }
    .loader {
      width: 57px;
      height: auto;
      max-width: none;
      left: -19px;
      top: -19px;
    }
  }
  .deselectDefault {
    color: #2f80ed;
    font-size: 12px;
    font-family: $axiforma-medium;
    text-decoration: underline;
    text-underline-offset: 3px;
    padding: 5px 8px 6px 8px;
    cursor: pointer;
  }
  .includeUserIcon {
    width: 27px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    border: 0.5px dashed #2f80ed;
    cursor: pointer;
  }
}
