.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 4px 24px 0px #0000000f;
  margin: 0 -30px 23px -62px;
  padding: 10px 30px 10px 62px;
}
