@import "../../../scss/variable";
.leftLogin {
  width: 50%;
  padding: 45px;
}

.rightLogin {
  width: 50%;
  padding: 45px;
  .rightLogo {
    margin-bottom: 115px;
  }
  .rightLoginInner {
    border: 1px solid $secondaryColor;
    border-radius: 10px;
    min-height: 100%;
    padding: 40px 80px;
    flex-direction: column;
  }
  .activity {
    min-height: 310px;
    width: 100%;
  }
}
